<!DOCTYPE html>
<html>

<head>
  <title>Vue.js测试</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
<!--   <meta http-equiv="cache-control" content="public, max-age=50"> -->
  <link rel="shortcut icon " type="images/x-icon" href="./favicon.ico">
<!--   <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="vue.js"></script>
</head>

<body>
  <!--使用template包裹v-if-->
<!--   <div id="base-0">
    <template>
      <h1 v-if="seen">Vue is awesome!</h1>
      <h1 v-else>Oh no 😢</h1>
    </template>
    <button @click="seen=!seen">切换</button>
  </div>
  <script>
    new Vue({
      el:'#base-0',
      data:{
        seen: true
      }
    });
  </script> -->

  <!--切换元素可见-->
<!--   <div id="app-3">
    <p v-if="seen">现在你看到我了</p>
  </div>

  <script>
    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true
      }
    });
  </script> -->
  
  <!--循环获取数组元素, 注意和JS还是有点区别，是直接获取的成员而不是下标-->
<!--   <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo }}
      </li>
    </ol>
  </div>
  <script>
    var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [
          '学习 JavaScript',
          '学习 Vue',
          '整个牛项目'
        ]
      }
    })
  </script> -->

  <!--{{}}包围的解释为普通文本，包括里面的标签也是普通文本-->
<!--   <div id="app-1">{{ fakeHtml }}</div>
  <script>
    var app1 = new Vue({
      el: '#app-1',
      data: {
        fakeHtml: '<a href="www.baidu.com"></a>'
      }
    });
  </script> -->

  <!--v-html解释为HTML文档，与上面的{{}}注意区分-->
<!--   <div id="app-2" v-html="rawHTML"></div>
  <script>
    var app2 = new Vue({
      el: '#app-2',
      data: {
        rawHTML: '<a href="https://www.baidu.com">访问百度</a>'
      }
    });
  </script> -->
  
  <!--为button添加监听-->
<!--   <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">反转编码</button>
  </div>
  <div>
    <a href="test.html">跳转自己</a>
  </div>
  <script>
    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'Hello Vue.js!'
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })
  </script> -->

  <!--使用bind给props赋值-->
<!--   <div id="app-6">
    <test-component :p1 = "d1"></test-component>
  </div>

  <script>
    Vue.component('test-component', {
      props:['p1'],
      template: `<div>{{p1}}</div>`
    });
    var app6 = new Vue({
      el: '#app-6',
      data: {
        d1: 'abc'
      }
    });
  </script> -->

  <!--v-model绑定textarea-->
<!--   <div id="app-7">
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message }}</p>
    <br>
    <textarea v-model="message" placeholder="add multiple lines"></textarea>
  </div>
  <script>
    var app7 = new Vue({
      el: '#app-7',
      data: {
        message:'初始值'
      }
    });
  </script> -->

  <!--v-model绑定checkbox, 并不是覆盖绑定值而是增删-->
<!--   <div id="app-7">
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
  </div>
  <script>
    new Vue({
      el: '#app-7',
      data: {
        checkedNames: []
      }
    })
  </script> -->

  <!--v-model绑定单选按钮-->
<!--   <div id="app-7">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
  </div>
  <script>
    var app7 = new Vue({
      el: '#app-7',
      data:{
        picked:false
      }
    });
  </script> -->

  <!--使用变量给插槽传值-->
<!--   <div id="slot-0">
    <test-component>
      {{ d1 }}
    </test-component>
  </div>

  <script>
    Vue.component('test-component', {
      props:['p1'],
      template: `<div><slot>默认值</slot></div>`
    });
    new Vue({
      el: '#slot-0',
      data: {
        d1: '123'
      }
    });
  </script> -->


</body>

</html>
